
#main{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  width: 1000px;
  height: 600px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
 
}
.picture{
    width:350px ;
    height:300px;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 50%;
    
}